In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("coffee.db")
cursor = conn.cursor()

### Menu

In [ ]:
cursor.execute(""" CREATE TABLE menu (
               id INT PRIMARY KEY,
               item TEXT NOT NULL,
               price REAL NOT NULL)""")

In [8]:
cursor.execute("""
INSERT INTO menu (id, item, price) VALUES
   (1, 'Americano', 4),
   (2, 'Capuccino', 3),
   (3, 'Latte', 4.2),
   (4, 'Mocha', 4.5),
   (5, 'White Mocha', 5),
   (6, 'Black Tea', 3),
   (7, 'Chai Tea', 3),
   (8, 'Green Mint', 3.5),
   (9, 'Hot Chocolate', 3),
   (10, 'Matcha Latte', 4.2);
""")

In [9]:
conn.commit()

### Order

In [5]:
cursor.execute(""" CREATE TABLE orders (
               id INT PRIMARY KEY,
               item TEXT,
               qty int,
               timestamp DATETIME DEFAULT CURRENT_TIMESTAMP)""")
conn.commit()